.wrapper
  %h1 PLEASE SIGN IN AND SHOW YOUR FUCKING SUPPORT WITH PRIDE
  = render 'form'
  %p.note We'll never spam you or sell your email to anyone.
  %p.note  
    Proceeds go to 
    = link_to 'BernieSanders.com', '#'
    