- if @session.new_record?
  :plain
    _gaq.push(['_trackEvent', 'Goals', 'sign-in-failure']);
    $('.card-panel form').replaceWith("#{escape_javascript(render('form'))}");
- else
  - if @session.subscribe
    :plain 
      _gaq.push(['_trackEvent', 'Goals', 'sign-in-and-subscribed']);
  - else
    :plain 
      _gaq.push(['_trackEvent', 'Goals', 'just-sign-in']);
  
  :plain 
    var panel = "#{escape_javascript(render('card_items/new'))}"
  
    if($(window).width() < 400) {
      $('body').removeClass()
      $('body').addClass('card_items')
      $('.panel.card-panel').html(panel)
    } else {
      $(".panel.card-panel").transition(window.transitionParams, function() {
        $('body').removeClass()
        $('body').addClass('card_items')
        $('.panel.card-panel').html(panel)
        $('.panel.card-panel').css({ rotate: '0deg', x: '0px' })
        $('.order-list-wrapper').html('')
      }); 
    }