%tr
  %td= subscribe.email
  %td= subscribe.mailchimp_id
  %td= subscribe.created_at.to_usa
  %td
    = link_to 'Delete', [:admin, subscribe], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'