.wrapper
  %h1 THANKS A FUCKING LOT

  %p.done
    Thanks for your goddamn order. Please visit BernieSanders.com and fucking donate, bitch! Shirts should arrive in 7-10 business days, so be patient, asshole.

  %p.note Unisex American Apparel Tri-Blend
  %p.note  
    Proceeds go to 
    = link_to 'BernieSanders.com', '#'
