.wrapper
  %h1 SHOW YOUR FUCKING SUPPORT WITH PRIDE

  %p.done
    Thanks for your goddamn order. Please visit BernieSanders.com and fucking donate, bitch! Shirts should arrive in 7-10 business days, so be patient, asshole.

  %p.note Unisex American Apparel Tri-Blend
  %p.note  Union made in the U.S.A. - Union Shipped 
  %p.note  
    Proceeds go to 
    = link_to 'BernieSanders.com', '#'
