.wrapper
  = render 'form'

  %p.note
    Payments processed via Stripe. We accept Visa, MasterCard, American Express, JCB, Discover, and Diners Club. RadProgressive.com does not collect information from this transaction. RadProgressive.com will never sell your information to third parties or attempt to reach you in any way other than the email you have provided us. Refund policy: unless we fuck up, all transactions are final. Questions? Contact us at (715) 9-RADPRO or admin@radprogressive.com
ᐧ
        