.panel
  = render 'form'

  %p.note
    Payments processed via Braintree Payments. FeelTheFuckingBern.com does not collect 
    information from this transaction. FeelTheFuckingBern.com will never sell any information 
    to third parties or attempt to reach you in any way other than the email you have provided us. 
    All transactions are final. Please contact us at (575) 208-6572 if you have any questions.
