- if @card.new_record?
  :plain
    $('.card-panel form').replaceWith("#{escape_javascript(render('form'))}");
- else
  :plain 
    var panel = "#{escape_javascript(render('done'))}"
    if($(window).width() < 400) {
      $('.panel.card-panel').html(panel);
    } else {
      $(".panel").transition(window.transitionParams, function() {
        $('.panel.card-panel').html(panel);
        $('.panel.card-panel').css({ rotate: '0deg', x: '0' })
      });
    }
    