- if @card.new_record?
  :plain
    $('form').replaceWith("#{escape_javascript(render('form'))}");
- else
  :plain 
    $(".panel").transition(window.transitionParams, function() {
      $('.panel').html("#{escape_javascript(render('done'))}");
      $('.panel').css({ rotate: '0deg', x: '0' })
    });
    