:plain
  var panel = "#{escape_javascript(render('new'))}"
  
  if($(window).width() < 400) {
    $('body').removeClass()
    $('body').addClass('cards')
    $('.panel.card-panel').html(panel)
  } else {
    $(".panel.card-panel").transition(window.transitionParams, function() {
      $('body').removeClass()
      $('body').addClass('cards')
      $('.panel.card-panel').html(panel)
      $('.panel.card-panel').css({ rotate: '0deg', x: '0' })
    });
  }
  

  
  