/*
  *= require libs/jquery.mb.bgndGallery/jquery.mb.bgndgallery.min
  *= require jquery-ui
  *= require libs/selectBoxIt
  *= require fancybox
  *= require ladda
  *= require ladda-themed
  *= require libs/jquery-labelauty
  *= require_self
 */

@import "fonts";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "mixins";
@import "bootstrap_override";
@import "select_box_it_overide";
@import "fancybox_override";
@import "checkbox_override";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";
@import "background";
@import "panel";
@import "cards";
@import "card_items";
@import "subscribe";

.hidden { display: none; }
a { color: black; }

p { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
p.done { 
  text-align: center;
}

.checkbox.session_subscribe {
  margin-top: 0;
  
  label[for="session_subscribe"]::after {
    font-size: 15px;
  }

  label[for="session_subscribe"]::before {
    border-radius: 0;
  }
}

.ladda-button { 
  margin: 0 !important;
}

.ladda-button:hover { 
  background-color: black !important;
}

.ladda-spinner {
  &:focus, &:hover, &:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    display: inline-block !important;
  }
}

.btn-flag {
  background-image: image-url('flag-btn.png');
}

.clear { clear: both; }
.right { float: right; }

img.made-in {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

@media (max-width: 400px) { 
  img.made-in {
    top: 30px;
    width: 100px;
    right: 30px;
    left: inherit;
    bottom: inherit;
  }
}