input.labelauty + label {
  border-radius: 0 !important;
  height: 45px !important;
  width: 98% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.labelauty-checked, .labelauty-unchecked { display: none !important; }

input.labelauty:checked + label {
  width: 95% !important;
  background-color: black;  
}

.labelauty-checked-image, .labelauty-unchecked-image {
  border: 2px solid black !important;
  background-position-x: 50% !important;
  height: 41px !important;
  width: 95% !important;
}

.labelauty-checked-image {
  background-color: #eaeaea !important;
  background-image: image-url('color-black.png') !important;
}

.labelauty-unchecked-image {
  background-color: black !important;  
  background-image: image-url('color-grey.png') !important;
}

input[name="card_item[is_man]"] + label {
  .labelauty-unchecked-image:before, .labelauty-checked-image:before {
    position: absolute;
    font-weight: 600;
    font-size: 25px;
    font-family: liberator;
  }
  
  .labelauty-unchecked-image:before {
    content: 'W';
    margin-left: 30px;
    margin-top: 20px;
    color: black;
  }

  .labelauty-checked-image:before {
    content: 'M';
    margin-top: 2px;
    color: #fff;
  }

  .labelauty-unchecked-image {
    background-color: #eaeaea !important;
    background-image: image-url('sex-woman.png') !important;
    background-position-x: 0 !important;
    background-position-y: 100% !important;
  }

  .labelauty-checked-image {
    background-color: black !important;  
    background-image: image-url('sex-man.png') !important;
    background-position-x: 110% !important;
  }
}

@media (max-width: 400px) {
  input[name="card_item[is_man]"] + label {
    .labelauty-unchecked-image {
      background-position-y: 0px !important;
    }

    .labelauty-unchecked-image:before {
      margin-left: 20px;
      margin-top: 23px;
    }
  }

  .cart-add-btn, .cart-check-btn {
    background-size: 25px;
  }

  .cart-check-btn:hover {
    width: 30px !important;
  }

  .labelauty-unchecked-image:before, .labelauty-checked-image:before {
    font-size: 18px !important;
  }

  .labelauty-unchecked-image, .labelauty-checked-image {
   background-size: 30px; 
  }

  .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
    border-top-width: 12px !important;
  }

  #card_item_sizeSelectBoxItText.selectboxit-text,  {
    font-size: 17px !important;
  }

  #card_item_countSelectBoxItText {
    font-size: 22px !important;
  }
}

