input.labelauty + label {
  border-radius: 0 !important;
  height: 45px !important;
  width: 98% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.labelauty-checked, .labelauty-unchecked { display: none !important; }

input.labelauty:checked + label {
  width: 95% !important;
  background-color: black;  
}

.labelauty-checked-image, .labelauty-unchecked-image {
  border: 2px solid black !important;
  background-position-x: 50% !important;
  height: 41px !important;
  width: 95% !important;
}

.labelauty-checked-image {
  background-color: #eaeaea !important;
  background-image: image-url('color-black.png') !important;
}

.labelauty-unchecked-image {
  background-color: black !important;  
  background-image: image-url('color-grey.png') !important;
}

input[name="card_item[is_man]"] + label {
  .labelauty-unchecked-image {
    background-image: image-url('sex-woman.png') !important;
    background-position-x: 100% !important;
    background-position-y: 100% !important;
  }

  .labelauty-checked-image {
    background-image: image-url('sex-man.png') !important;
  }
}

