#fancybox-close {
  background: none; 
  background-color: black;
  border: 2px solid #fff;
  

  &:after {
    content: "\00d7";
    color: #fff;
    top: -5px;
    left: 4px;
    position: absolute;
    font-size: 30px;
    font-family: liberator;
    font-weight: bold;
  }
}

@media (max-width: 400px) {
  #fancybox-content {
    width: 100% !important;
    height: 100% !important;
  }

  #fancybox-wrap {
    width: 100% !important;
    left: 0 !important;
    padding: 0 !important;
  }

  #fancybox-close {
    right: -1px !important;
  }
}
