@font-face {
  font-family: 'liberator';
  src:font-url('Liberator-Medium.ttf');
     
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica';
  src:font-url('Helvetica.otf');
     
  font-weight: normal;
  font-style: normal;
}
