.panel {
  position: absolute;
  right: 40px;
  bottom: 0;

  background-color: #eaeaea; 
  
  width: 360px;

  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  
  @include box-shadow(6px 5px 10px 0px rgba(0, 0, 0, 0.75));

  p.note {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 1;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  p.note + p.note {
    margin-top: 7px;
  }

  h1 { 
    font-size: 43px;
    font-family: liberator;
    line-height: 1;
    margin-top: 5px;
  }
}

@media (max-width: 500px) {
  .panel {
    width: 85%;
    right: 0 !important;
  }
}