.panel {
  position: absolute;
  right: 40px;
  bottom: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  background-color: #eaeaea; 
  
  width: 400px;

  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  
  @include box-shadow(6px 5px 10px 0px rgba(0, 0, 0, 0.75));

  p.note {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    line-height: 1;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  p.note + p.note {
    margin-top: 7px;
  }

  h1 { 
    font-size: 43px;
    font-family: liberator;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
  }
}

.order-list-panel {
  position: fixed !important;
  font-size: 16px;
  font-family: liberator;
  top: 10px !important;
  left: -65% !important;
  width: 300px !important;
  height: 300px !important;

  .row { padding: 5px; }
  .row:last-child { margin-top: 5px; }
}

@media (min-width: 400px) {
  .new_card .total-table {
    display: none;
  }
}

@media (max-width: 400px) {
  .order-list-panel { display: none; }

  .card-items .panel {
    width: 98.5%;
    padding-left: 0;
    padding-right: 0;
  }
    
  .panel {
    width: 85%;
    right: 0 !important;
    bottom: inherit;
    opacity: 0.9;
  }
}

