.panel.subscribe.closed.subscribe-new.hidden
  .close
  .wrapper
    %h1 GET INFORMED ON NEW ITEMS AND PROGRESSIVE NEWS
    = render 'subscribes/form'

    %p.note We'll never spam you or sell your email to anyone.
      