.panel.subscribe.subscribe-show.closed
  = link_to '', '#close', class: 'close'
  .wrapper
    %h1 THANKS!
    %p.note Bernie and all the progressive-minded 
    %p.note people out there thank you for it, too.
      