:plain
  $(".panel").transition(window.transitionParams, function() {
    $('body').removeClass()
    $('body').addClass('card_items')
    $('.panel').html("#{escape_javascript(render('new'))}")
    $('.panel').css({ rotate: '0deg', x: '0px' })
  });
  