.panel.card-panel
  = render 'card_items/new'

- if params[:send_goal]
  - if @session.subscribe
    :javascript 
      ga('send', 'event', 'sign-in-and-subscribed')
  - else
    :javascript 
      ga('send', 'event', 'just-sign-in')